annotated-types==0.5.0
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
et-xmlfile==1.1.0
h11
idna
jdcal==1.4.1
numpy==1.26.0
openpyexcel==2.5.14
openpyxl==3.1.2
outcome==1.3.0.post0
pandas==2.1.1
pika==1.3.2
pika-stubs==0.1.3
pydantic==2.3.0
pydantic_core==2.6.3
PyPDF2==3.0.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
selenium==4.14.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
trio==0.22.2
trio-websocket==0.11.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
wsproto==1.2.0
xlrd==2.0.1
googletrans==4.0.0-rc1
lxml==4.9.3
deep-translator==1.11.4
slugify
python-dotenv
pyTelegramBotAPI
fake-useragent==1.3.0
urlextract==1.8.0
cloudscraper==1.2.71
datefinder
